@model ProjetoC._03_MODEL.Medico

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form action="@Url.Action("Edit",new {id = Model.ID })" method="post">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Medico</h4>
        <hr />


        <div class="form-group">
            <label class="col-md-2 control-label" title="Conselho Regional de Medicina">CRM</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="O campo CRM deve ser um número." data-val-required="O campo CRM é obrigatório." id="CRM" name="CRM" type="number" value="@Model.CRM" />
                @Html.ValidationMessageFor(model => model.CRM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Especialização</label>

            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Especializacao" name="Especializacao" type="text" value="@Model.Especializacao" />
                @Html.ValidationMessageFor(model => model.Especializacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Nome" name="Nome" type="text" value="@Model.Nome" />
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar para lista", "Index", new { }, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-success" />

            </div>
        </div>
    </div>
</form>
