@model IEnumerable<ProjetoC._03_MODEL.Medico>

@{
    ViewBag.Title = "Index";
}



<p style="color:darkred;">* Obs: Para Adicionar um paciente, Primeiro Adicione um Médico.</p>
<p>
   
       <a href="@Url.Action("Create")" class="btn btn-success">Adicionar Mèdico</a>
    
</p>
<div id="create">

</div>

<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
    <thead>
        <tr>
            <th>
                CRM
            </th>
            <th>
               Especialização
            </th>
            <th>
               Nome do Médico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CRM
                </td>
                <td>
                    @item.Especializacao
                </td>
                <td>
                    @item.Nome
                </td>
                <td>

                    <a href="@Url.Action("Details",new {id = item.ID })" class=" btn btn-xs btn-info" data-rel="tooltip" title="View">

                        <i class="ace-icon fa fa-search-plus bigger-120"></i>

                    </a>

                    <a href="@Url.Action("Edit",new {id = item.ID })" class=" btn btn-xs btn-success" data-rel="tooltip" title="Edit">

                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>

                    </a>
                    <a href="@Url.Action("Delete",new {id = item.ID })" class=" btn btn-xs btn-danger" data-rel="tooltip" title="Delete">

                        <i class="ace-icon fa fa-trash-o bigger-120"></i>

                    </a>
                   
                    



                </td>
            </tr>
        }

    </tbody>

</table>
