@model ProjetoC._03_MODEL.Paciente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Sobre o Paciente, @Model.Nome .</h2>
<div>
    <table>
        <tr>
            <th rowspan="2" colspan="2">
                <img src="~/Content/Img/atencion-inmediata.png" />
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                       Nome
                        <!--Html.DisplayNameFor(model => model.Nome)=   -->

                    </dt>

                    <dd>
                        @Model.Nome
                       
                    </dd>

                    <dt>
                       Email
                    </dt>

                    <dd>
                       @Model.Email
                    </dd>
                    <dt>
                       Cpf
                    </dt>

                    <dd>
                        @Model.Cpf
                    </dd>

                    <dt>
                       Cep
                    </dt>

                    <dd>
                       @Model.Cep
                    </dd>

                    <dt>
                        Rua
                    </dt>

                    <dd>
                       @Model.Rua
                    </dd>

                    <dt>
                        Bairro
                    </dt>

                    <dd>
                        @Model.Bairro
                    </dd>

                    <dt>
                        Estado
                    </dt>

                    <dd>
                        @Model.UF
                    </dd>

                    <dt>
                       Cidade
                    </dt>

                    <dd>
                      @Model.Cidade
                    </dd>
                    <dt>
                       Medico
                    </dt>

                    <dd>
                        @foreach (var item in Model.Medicos)
                        {
                            if (Model.IdMedico == item.ID)
                            {
                                @item.Nome
                            }

                        }
                    </dd>

                </dl>

            </td>
        </tr>
    </table>
</div>
 

<p>
    @Html.ActionLink("Voltar para Lista", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

</p>


